*{
    font-family: sans-serif;
}



.BlogLandingPage{
    height: calc(100vh - 4rem);
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../imgs/safar-safarov-MSN8TFhJ0is-unsplash.jpg), linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0,0.7));
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top bottom;
    color: white;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "BlogMainContent BlogSideBar";
    height: auto;
    justify-items: center;
    padding-top: 100px;
  }
  
  .BlogMainContent { 
      grid-area: BlogMainContent; 
      border: 2px blue solid;
      width:100%;
      height: auto;
          }
          .BlogMainContent h1{
              justify-items: center;
              text-align: center;
              border: 1px solid red;
          }


  .BlogSideBar { 
      grid-area: BlogSideBar; 
      border: 2px solid green;
      width:100%;
      display:grid;
      width: 100%;
    position: relative;
    text-align: center;
    }

    .BlogSideBar h1 {
        border: 1px solid purple;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    
    .BlogSideBar h4{
        position: relative;
        margin: 20px;
        display: grid;
    }



.BlogSideBar .button{
    margin-top: auto;
    background: #042557;
    color:#fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 800;
    text-align: center;
    padding: 15px;
    width: 80%;
    display:inline-block;
    justify-items: start;
    margin-top:20px;
    
  }
  