.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "picture text";
  height: calc(100vh - 4rem);
  justify-items: center;
  align-items: center;
  
  background: #222222
}

.aboutText{
  text-align: left !important;
  display: block;
  justify-items: left !important;
  width: 100%;
  grid-area: text;
}

.picsocialContainer{
  grid-area: picture;
}

.headerText{
  width:90%;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}

.subText{
  display: block;
  color: #92A1CF;
  padding-top:50px;
  font-family: sans-serif;
}



.aboutText a{
  text-decoration: none;
  color:#92A1CF;
  font-family: sans-serif;
}

.underline  {
  border-bottom: 1px solid #fff;
}

.underline:hover{
  border-bottom: 3px solid #fff;

  
}

@media(max-width:600px){
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "picture" "text";
  }

  .picsocialContainer{
    padding-top:100px;
  }

  .headerText{
    width: 100%;
    font-size:1.8rem;
    padding:5px;
    text-align: center;
  }
  .aboutText{
    padding:10px;
    
  }

  .subText{
    padding-top:20px;
    font-size: 1.3rem;
    padding:10px;
    text-align: center;
  }
  
}