html, body, .gridContainer { height: 100%; margin: 0; }


.gridContainer {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  align-items:center;
  height:70vh;
  position: relative;
  align-items: center;
  background: url(../../imgs/react.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid{
    width:100%;
    text-align:center;    
    height:100%;
    align-items: center;
    display:grid;
}

