.fa-stack{
    padding:0;
    margin:0;
    
    height:em;
  }
  .fa-stack-1x {
    height: 1.25em !important;
    width: 1.25em !important;
}
  
  .fa-facebook{
    font-size:28px;
    }
  a:hover .fa-facebook{
    font-size: 47px;
  }

.fa-github{
    font-size:40px;
    color:#222;
  }
  a:hover .fa-github{
    font-size:48px;
  }

  .github{
      font-size:46px;
  }
  .testingtwitter .fa-circle{
   font-size: 46px;
    
  }
  
  .insta1{
    font-size: 46px;
    color:white;
  }

  
    
    
    
    .fa-instagram{
      font-size:30px;
    }

a:hover{
    cursor:pointer;
  }

  .facebook{
    font-size:46px;
    }

  .fa-facebook{
    font-size:40px;
    }
  
    /* .instagram-circle{
      font-size:50px;
       width:80px;
       height:80px;
       background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      background-clip: content-box;
        } */

        .instagram-circle{
    

          color:transparent;
          
          background: -linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
          
          background-clip: text;
              
          -webkit-background-clip: text;
          
          -webkit-text-fill-color: transparent;
          
          background: -moz-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
          
          -moz-background-clip: text;
          -moz-text-fill-color: transparent;
          content:"fo";
          font-size:40px;
          border-radius: 50%;
          }

          a:hover .instagram-circle{
            font-size: 46px !important;
          }

          a:hover .fa-instagram{
            font-size:34px;
          }

          a:hover .facebook{
            font-size:46px;
          }

          .twitterBird  {
            font-Size: 30px;
        }

        .twitterOuter  {
          font-size: 40px
      }
      
      .testing{
        font-size:46px;
      }

      a:hover .twitterOuter{
        font-size:47px;
      }
      a:hover .twitterBird{
        font-size:32px;
      }