.fa-stack{
    padding:0;
    margin:0;
    width: 3em;
    height:3em;
  }
  .tweet{
    font-size:48px;
  }
  .fa-facebook{
    font-size:28px;
    }


.fa-github{
    font-size:40px;
    color:#222;
  }

  .github{
      font-size:46px;
  }
  .testingtwitter .fa-circle{
   font-size: 46px;
    
  }
  
  .insta1{
    font-size: 47px;
    color:white;
  }

  .insta{
    

    color:transparent;
    
    background: -linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    
    background-clip: text;
        
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
    
    background: -moz-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    content:"fo";
    font-size:36px;
    border-radius: 50%;
    }

    
    .fa-instagram{
      font-size:30px;
      color:white;
    }

a:hover{
    cursor:pointer;
  }

  .facebook{
    font-size:46px;
    }

  .fa-facebook{
    font-size:40px;
    }
  