.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  gap: 1px 1px;
  grid-template-areas: "Intro Intro Intro" "Example-1 Example-2 Example-3";
  height:calc(100vh - 4rem);
  background: #f1f1f4;
}

.Intro { 
  
  grid-area: Intro; 
  padding:50px;
  font-size: 32px;
}

.Intro h3{
  text-align: center;
  padding-top:50px;
}

.Example1 { 
  grid-area: Example-1; 
  padding: 25px;
  text-align: center;
  height: 100%;
  
}


.Example2 { 
  grid-area: Example-2; 
  
  padding: 25px;
  text-align: center;
  height: 100%;
}

.Example3 { 
  grid-area: Example-3; 
 
  padding: 25px;
  text-align: center;
  height: 100%;
}


.card {
  border: 1px solid #cccccc;
  height:100%;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2{
  margin: 0 0 1rem;
  text-align: center;
}

figure {
  height: 200px;
  width: 100% ;
  
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: -1rem;
}

.button{
  margin-top: auto;
  background: #042557;
  color:#fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 800;
  text-align: center;
  padding: 15px;
  width: 80%;
  display:inline-block;
  justify-items: start;
  margin-top:20px;
}
