.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "Intro Intro Intro" "Example-1 Example-2 Example-3";
  height:calc(100vh - 4rem);
}

.Intro { grid-area: Intro; }

.Example1 { grid-area: Example-1; }

.Example2 { grid-area: Example-2; }

.Example3 { grid-area: Example-3; }
