.gridContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". .";
    height: calc(100vh - 4rem);
    justify-items: center;
    align-items: center;
    
    background: #222222
  }

  .aboutText{
    text-align: left !important;
    display: block;
    justify-items: left !important;
    width: 100%;
    
  }

  .headerText{
    width:90%;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
  }

  .subText{
    display: block;
    color: #92A1CF;
    padding-top:50px;
    font-family: sans-serif;
  }

  a{
    text-decoration: none;
    color:#92A1CF;
    font-family: sans-serif;
  }