.infoContainer{
    margin:auto;
  }
  .marvel .infoBlock{
    background:#c81912;
    color:white;
    }
    
  .infoBlock{
    width:90%;
    border: 3px solid black;
    margin:auto;
    margin-top:10px;
    text-align:center;
    height:50px;
    font-size:30px;
  }

  .infoBlock h1{
    font-size: 30px
  }

  .power, .ability{
    height:80px;
    }